/* Mobile */
.caja{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   gap: 0.938rem;
   width: 100%;
   height: auto;
}

.imagen-confirmacion{
    height: auto;
    width: 100%;
    padding: 0;
}

p{
    text-align: center;
}

div{
    text-align: center;
        margin: 1.25rem auto;
        padding: 1.25rem;
        
}

/* Desktop */
@media (min-width: 1024px){

    .caja{
   margin: 0;
   height: auto;
   width: 100%;

}


div{
        margin: 1.25rem auto;
        padding: 1.25rem;
        
}
}