/* Mobile */
h1{
    font-size: 2rem;
}

.fotos-personajes-pers{
    height: auto;
    width: 100%;
    border-radius: 20px;
}

.texto-pers{
    padding: 0 1rem;
}

.contenedor-personajes{
   display: flex;
   flex-direction: column;
   gap: 1.25rem;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
   padding: 0;
}

.caja-personajes {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   text-align: justify;
   transition: 0.2s ease-in-out;
   gap: 1.25rem;
   width: 100%;
   padding: 1.25rem;
   margin: 1.5rem 0;
   border: 1px;
   box-sizing: border-box;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.76);
}

.caja-personajes h2{
    font-size: 1.5rem;
}



figure{
      margin: 0;
      padding-top: 1.5rem;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .caja-personajes:hover{
        scale: 1.03;
    }

/* Desktop */

@media (min-width: 1024px){
    .fotos-personajes-pers{
        width: 31.25rem;
        height: 25rem;

    }

    .texto-pers{
        padding-left: 6.25rem;
        padding-right: 6.25rem;
    }

    .contenedor-personajes{
        flex-direction: row;
        gap: 3.75rem;
        width: 80vw;
        padding: 1.25rem;
    }

    .caja-personajes{
        width: 40vw;
        padding: 1.25rem 2.5rem;
        margin: 1.875rem auto;
    }

    figure{
        padding-top: 3.125rem;
    }

    .caja-personajes:hover{
        scale: 1.1;
    }
}